body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li{
  background-color: rgb(255, 154, 155);
  margin: 15px;
  border-radius: 5px;
  list-style-type: none;
}
ul{
  display: flex;
  justify-content: center;
}

.parte_1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body{
  background:linear-gradient(#121212, #212b46);
  height: 100%;
}